/*google fonts code*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*General*/

html, body {
  margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.text-spacing {
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body, html {
    background-color: #f3e7d8;
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-secondary {
  background-color: #ed583f;
  padding: 10px;
  font-size: 1.2rem;
  color: #f3e7d8;
  border: none;
}

.btn-secondary:hover {
  background: #f3a732;
  border: none;
  color:#f3e7d8;
}

/*Header*/
header {
    margin: 0;
}


#main-heading h1 {
  color: #f8b3cc;
  font-family: "Bebas Neue", sans-serif;
  font-size: 7em;
  text-decoration: underline #c7b65d 1px;
}

/*Nav*/

nav {
    background-color: #f3e7d8;
}

.nav-item a {
  display: block;
  padding: 5px 50px 5px 50px;
  margin: 10px;
  color: #ed583f;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
}

.nav-pills .nav-link.active {
  background-color: #c7b65d;
}

.nav-item a:hover {
    color: #f8b3cc;
}

/*Hero image*/

#hero-outer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  position: relative;
  height: 700px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  display: block;
  filter: brightness(45%);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

#sub-heading {
  position: absolute;
  margin: 0;
  padding: 2px;
  width: 70%;
  top: 20%;
  left: 15%;
}

#sub-heading h2 {
  color: #f3a732;
  font-size: 1.2em;
  font-weight: 400;
}

.cover-links-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 70%;
  top: 60%;
  left: 15%;
  padding: 10px;
  box-sizing: border-box;
}

.cover-links-container {
  flex: 1;
  margin: 20px;
  padding: 10px;
  background-color: rgb(237, 88, 63, 0.7);
  text-align: center;
  background-size: cover;
  border-radius: 15px;
}

.cover-links-container h3 {
  font-size: 1.2em;
  font-weight: 350;
  letter-spacing: 3px;
  color: #f3e7d8;
}

.cover-links-container a {
  color: #f3e7d8;
  text-decoration: none;
}

.cover-links-container a:hover {
  color:#f8b3cc;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .cover-links-container-wrapper {
    flex-direction: column;
    top: 60%;
  }

  .cover-links-container {
    margin: 10px auto;
  }
}
  /*About Us*/

  #about-us h2 {
    color: #f8b3cc;
    text-decoration: underline #c7b65d 1px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    margin: 20px 0;
    padding-top: 20px;
  }

  #about-us-container {
    clear: both;
    width: 100%;
    padding: 2px 5px 0px 5px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .about-us-container-left, .about-us-container-right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .about-us-container-left {
    float: left;
  }

  .about-us-container-right {
    float: right;
  }

  #about-us-container h3 {
    text-align: center;
    color: #c7b65d;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  #about-us-container p {
    text-align: center;
    color: #271c35;
    padding: 10px;
    margin: 10px;
  }


  /*Founders*/

  #founders {
    padding: 10px 60px 10px 60px;
    background-color: #ed583f;
  }

  #founders-container {
    background-color: #c7b65d;
    padding: 10px;
    border-radius: 25px;
  }

  #founders h3 {
    color: #f3e7d8;
    text-decoration: underline #c7b65d 1px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    margin: 20px 0;
    padding-top: 20px;
  }

  #founders h4 {
    color: #ed583f;
    font-size: 1.5em;
    font-weight: 350;
  }

  #founders-container p {
    color: #f3e7d8;
  }

  #our-story {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
  }

  #our-story p {
    color: #f3e7d8;
    padding: 0;
    margin: 10px;
  }

 /*Footer*/

  .bg-light {
    background-color: #f3e7d8 !important;
  }

  footer h4 {
    font-weight: 350;
    color: #c7b65d;
    font-size: 1.2em;
    padding-bottom: 10px;
  }


  footer a {
    color: #f8b3cc;
    text-decoration: none;
  }

  footer a:hover {
    color: #f3a732;
    text-decoration: underline;
  }

  footer p {
    text-align: center;
  }

  footer i {
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
  }

 .social-links-column a:hover {
  color: #f3a732;
 }

  footer table {
    color: #ed583f;
  }

  /*Menu*/

  #menu {
    background-color: #c7b65d;
  }

  .menu-section {
    padding-top: 20px;
    margin: 10px;
    text-align: center;
  }

  .menu-section h3 {
    text-align: inherit;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #f8b3cc;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
  }

  .menu-section h4 {
    text-align: inherit;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.2em;
    color: #ed583f;
  }

  .prices {
    color: #f3e7d8;
  }

 #dietary-requirements {
  padding: 10px;
  margin: 0;
}

  #dietary-requirements p {
    color: #f3e7d8;

  }

  .bg-secondary {
    background-color: #f3a732 !important;
  }


  /*Gallery*/

  /*https://www.sitepoint.com/css-grid-repeat-function/*/

  #images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    padding-bottom: 5px;
    justify-items: center;
  }

  #images img {
    width: 85%;
    height: auto;
    margin: 10px auto;
    border: 5px solid #c7b65d;
    border-radius: 40px;
  }

  /*https://css-pattern.com/3d-diamond/*/
  .gallery-background {
    --s: 40px; /* control the size*/
    --c1: #c7b65d;
    --c2: #f3e7d8;
    --c3: #ed583f;
    --c4: #f8b3cc;
    
    --c:,#0000 39%,var(--c1) 40% 93%,#0000 94%;
    --_s:calc(1.5*var(--s))/calc(4*var(--s)) calc(3*var(--s));
    background:
      radial-gradient(calc(1.5*var(--s)) at 37.5%   0%var(--c))
       calc(-.5*var(--s)) var(--_s),
      radial-gradient(calc(1.5*var(--s)) at 37.5% 100%var(--c))
       calc(1.5*var(--s)) var(--_s),
      radial-gradient(25% calc(50%/3),#0000 96%,var(--c2))
       0 0/calc(2*var(--s)) calc(3*var(--s)),
      repeating-conic-gradient(var(--c3) 0 25%,var(--c4) 0 50%)
       0 0/calc(4*var(--s)) calc(6*var(--s));
  }

  @media (min-width: 768px) {
    #images {
      grid-template-columns: repeat (2,1fr);
    }
  }

  @media (min-width: 1024px) {
    #images {
      grid-template-columns: repeat (3, 1fr);
    }
  }

  /*Events & Bookings*/

  .events-hero-image {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .events-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #upcoming-events {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
  }

  #upcoming-events-content {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    width: 100%;
    max-width: 700px;
  }

  #upcoming-events-content h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
  }

  #upcoming-events-content h2 {
  color: #f8b3cc;
  text-decoration: underline #c7b65d 1px;
  font-size: 3em;
  }

  #upcoming-events-content h3 {
    font-size: 1.6em;
    color: #c7b65d;
    text-transform: uppercase;
  }

  #upcoming-events-content p {
  color: #f3e7d8;
  }

  .line {
    display: block;
    height: 2px;
    background-color: #ed583f;
    width: 60%;
    margin: 20px auto;
  }

  #book-here-button {
    background-color: #ed583f;
    color: #f3e7d8;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }

  #book-here-button:hover {
    background-color: #f3a732;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    

    .events-hero-image {
      position: relative;
      width: 100%;
      height: 800px;
      overflow: hidden;
    }
  }

  @media (max-width: 576px) {
    h2 {
        font-size: 1.2em;
    }
    
    h3 {
        font-size: 1em;
    }
  }

  #reviews {
    width: 100%;
    margin: 0;
  }

  #reviews h2 {
    color: #f8b3cc;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    text-decoration: underline #c7b65d 1px;
  }

  .review {
    padding: 10px;
  }

  .review div {
    text-align: center;
    color: #c7b65d;
    font-size: 1.1em;
  }

  .review p {
    text-align: center;
    color: #ed583f;
  }
 
  #form {
    padding: 20px;
    background-color: #ed583f;
  }

  #form-container {
    background-color: #c7b65d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
  }

  #booking-heading h3 {
    color: #f8b3cc;
    text-decoration: underline #c7b65d 1px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    margin: 20px 0;
    padding-top: 20px;
  }

  #booking-heading p {
    color: #f3e7d8;
  }

  #form-content legend {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ed583f;
    font-size: 1.2em;
  }

  #form-content label {
    color: #f3e7d8;
  }

  @media (max-width:768px) {

    .petals-and-potions-header {
      font-size: 2em;
    }

    .about-us-container-left, .about-us-container-right {
      width: 100%;
    }

    #upcoming-events-left, #upcoming-events-right {
      width: 100%;
    }

  }






