/*google fonts code*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*General*/

html, body {
  margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.text-spacing {
    letter-spacing: 3px;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

body, html {
    background-color: #faf8f8;
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    margin: 0;
}

.petals-and-potions-header {
    color: #271c35;
    text-align: center;
    font-size: 5.3em;
    font-weight: 100;
    letter-spacing: 4px;
}

.container-fluid h1 {
    font-size: 1.3em;
    color: #f6f7f5
}

.sub-heading {
    text-align: center;
    color: #a9979e;
    margin: 0;
    padding: 2px;
    font-weight: 250;
    font-size: 1.25em;
}


/*Nav*/

nav {
    background-color: #945f70;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: inline;
}

.nav-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-item a {
    display: block;
    padding: 0 50px 0 50px;
    margin: 10px;
    color: #faf8f8;
    text-align: center; 
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing: 3px;
}

.nav-item a:hover {
    color: #d68ffc;
}

/*Hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    position: relative;
    height: 600px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
    filter: brightness(70%);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  #cover-links-container-left{
    position: absolute;
    width: 35%;
    height: 17%;
    top: 65%;
    left: 5%;
    background-color: rgb(148, 95, 112, 0.6);
    padding: 20px;
  }

  #cover-links-container-left h3 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #cover-links-container-left a {
    color: #faf8f8;
  }

  #cover-links-container-left a:hover {
    color: #d68ffc;
  }

  #cover-links-container-right{
    position: absolute;
    width: 35%;
    height: 17%;
    top: 65%;
    right: 5%;
    background-color: rgb(148, 95, 112, 0.6);
    padding: 20px;
  }

  #cover-links-container-right h3 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #cover-links-container-right a {
    color: #faf8f8;
  }

  #cover-links-container-right a:hover {
    color: #d68ffc;
  }

  /*About Us*/

  #about-us h2 {
    text-align: center;
    color: #945f70;
    font-weight: 300;
    font-size: 2.2em;
    margin: 25px 0;
  }


  #about-us-container {
    clear: both;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
  }

  .about-us-container-left, .about-us-container-right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .about-us-container-left {
    float: left;
  }

  .about-us-container-right {
    float: right;
  }

  #about-us-container h3 {
    text-align: center;
    color: #a9979e;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 1.6em;
    padding-bottom: 10px;
  }

  #about-us-container p {
    text-align: center;
    color: #271c35;
    padding: 5px 0 20px 0;
  }

 /*Footer*/

 footer {
  background-color:#945f70;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-info-column, .social-links-column {
  flex: 1;
  padding: 0 20px;
  text-align: center;
  min-width: 200px;
 }

 .contact-info-column h4,
 .social-links-column h4 {
  font-weight: 300;
  font-size: 1em;
  color: #faf8f8;
  letter-spacing: 3px;
  padding-bottom: 10px;
 }

 .contact-info-column p, 
 .contact-info-column address, 
 .contact-info-column table, 
 .social-links-column p {
  font-size: 0.9em;
  color: #faf8f8;
 }

 .contact-info-column a, .social-links-column a {
  color: #faf8f8;
  text-decoration: none;
 }

 .contact-info-column a:hover,
 .social-links-column a:hover {
  color: #271c35;
  text-decoration: underline;
 }

 .social-links-column i {
  padding: 20px;
  text-align: center;
  font-size: 1.7em;
 }

 #opening-hours p {
  color: #faf8f8;
  }

  #opening-hours table {
    color: #faf8f8;
    text-align: center;
  }

  #opening-hours p {
    color: #d68ffc;
  }

  /*Menu*/

  .menu-section {
    padding: 20px;
    margin: 10px;
    text-align: center;
  }

  .menu-section h3 {
    text-align: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 2.2em;
    margin-bottom: 20px;
  }

  .menu-section h4 {
    text-align: inherit;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1.2em;
    color: #945f70;
  }

  .prices {
    color: #a9979e;
  }

 #dietary-requirements {
  padding: 10px;
  margin: 0;
}

  #dietary-requirements p {
    color: #d68ffc;

  }

  .bg-secondary {
    background-color: #a9979e !important;
  }


  /*Gallery*/

  #images {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
  }

  #images img {
    display: inline-block;
    width: 40%;
    height: 700px;
    margin: 5px auto;
    border-radius: 3px;
  }

  /*Events & Bookings*/

  #upcoming-events {
    position: relative;
    color: #f6f7f5;
    padding-bottom: 20px;
  }

  #events-outer {
    position: relative;
  }

  #events-hero-image {
    width: 100%;
    height: 600px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
    filter: brightness(70%);
  }

  #events-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: rgba (0,0,0,0.6);
  }

  #events-heading {
    margin-bottom: 30px;
  }

  #events-heading h3 {
    font-size: 2.2em;
    font-weight: 300;
    color: #faf8f8;
  }

  #events-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
  }

  .event {
    background-color: rgb(148, 95, 112, 0.6);
    padding: 20px;
    max-width: 300px;
    margin: 15px;
  }

  .event h4 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
    color: #faf8f8;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .event p {
    font-size: 1em;
    color: #faf8f8;
  }

  #book-here-button {
    background-color: rgb(148, 95, 112, 0.6);;
    color: #faf8f8;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }

  #book-here-button:hover {
    color: #d68ffc;
  }

  #form-container {
    background-color: #a9979e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
  }

  #booking-heading h3 {
    font-weight: 300;
    color: #945f70;
  }

  #booking-heading p {
    color: #945f70;
  }

  #form-content legend {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #945f70;
    font-size: 1.2em;
  }

  #form-content label {
    color: #faf8f8;
  }

  .btn-secondary {
    background-color: #945f70;
    border: none;
  }

  .btn-secondary:hover {
    background: #945f70;
    border: none;
    color: #d68ffc;
  }








