@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*General*/

.uppercase {
    text-transform: uppercase;
}

.text-spacing {
    letter-spacing: 3px;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    background-color: #faf8f8;
    font-family: "Montserrat",sans-serif;
}

/*Header*/
header {
    margin: 0;
}

.petals-and-potions-header {
    color: #271c35;
    text-align: center;
    font-size: 5.3em;
    font-weight: 100;
    letter-spacing: 4px;
}

.container-fluid h1 {
    font-size: 1.3em;
    color: #f6f7f5
}

.sub-heading {
    text-align: center;
    color: #a9979e;
    margin: 0;
    padding: 2px;
    font-weight: 250;
    font-size: 1.25em;
}


/*Nav*/

nav {
    background-color: #945f70;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: inline;
}

.nav-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-item a {
    display: block;
    padding: 0 50px 0 50px;
    margin: 10px;
    color: #faf8f8;
    text-align: center; 
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing: 3px;
}

.nav-item a:hover {
    color: #d68ffc;
}

/*Hero image*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
    filter: brightness(70%);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  #cover-links-container-left{
    position: absolute;
    width: 35%;
    height: 17%;
    top: 65%;
    left: 5%;
    background-color: rgb(148, 95, 112, 0.6);
    padding: 20px;
  }

  #cover-links-container-left h3 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #cover-links-container-left a {
    color: #faf8f8;
  }

  #cover-links-container-left a:hover {
    color: #d68ffc;
  }

  #cover-links-container-right{
    position: absolute;
    width: 35%;
    height: 17%;
    top: 65%;
    right: 5%;
    background-color: rgb(148, 95, 112, 0.6);
    padding: 20px;
  }

  #cover-links-container-right h3 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #cover-links-container-right a {
    color: #faf8f8;
  }

  #cover-links-container-right a:hover {
    color: #d68ffc;
  }

  /*Footer*/

footer {
    height: 150px;
    background: #945f70;
    margin: 0;
    display: block;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline;
    float: top right;
}

#social-media i {
    padding: 30px;
    margin: 20px;
    color: #faf8f8;
    font-size: 2em;
}

#social-media i:hover {
    color: #d68ffc;
}
